docker_humble_desktop/dev_ws/src/vocal_command_pkg/models_and_results/models/Llama-3.2-3B-Instruct-Q6_K_L.gguf
docker_humble_desktop/dev_ws/src/vocal_command_pkg/models_and_results/results/
vocal_command_pkg/
*.env